fieldset {
    width: 20%;
    background-color: bisque;
    border-radius: 25px;
}
.button {
    border-radius: 25px;
    padding: 13px;
    background: linear-gradient(bisque, white);
    cursor: pointer;
}
.name {
    background-color: bisque;
}
.age {
    background-color: bisque;
}
.select {
    background-color: bisque;
}
.inline {
    display: inline-block;
}
form {
    text-align: center;
}
.name :hover {
    cursor: pointer;
    transform: rotate(180deg);
}
label {
    text-shadow: 1px 1px;
}